<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.dao.UserDao">
    <resultMap id="BaseResultMap" type="demo.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="roles" column="roles"/>
        <!--自定义TypeHandler，此处指定只能对select语句中转换有效-->
        <result property="birthday" column="birthday" javaType="java.util.Date" jdbcType="BIGINT" typeHandler="demo.handler.type.MyDateTypeHandler"/>
    </resultMap>

    <resultMap id="CascadeResultMap" type="demo.pojo.Cascade" extends="BaseResultMap">
        <association property="user" column="{id=id, usernames=username}" javaType="demo.pojo.User" select="selectUserById"/>
    </resultMap>

    <!--自定义TypeHandler，insert语句需要重新设置TypeHandler属性,可以只写typeHandler或者javaType和jdbcType或者三个都写-->
    <insert id="insert" parameterType="demo.pojo.User">
        INSERT INTO
          user(username, password, nickname, roles, birthday)
        VALUES
          (#{username}, #{password}, #{nickname}, #{roles}, #{birthday, javaType=Date, jdbcType=BIGINT, typeHandler=demo.handler.type.MyDateTypeHandler})
    </insert>

    <select id="selectByCasId" resultMap="CascadeResultMap">
        SELECT
          id, username, password, nickname, roles, birthday
        FROM
          user
        WHERE
          id=#{id}
    </select>

    <select id="selectUserById" resultMap="BaseResultMap">
        SELECT
          id, username, password, nickname, roles, birthday
        FROM
          user
        WHERE
          id=#{id} AND username=#{usernames}
    </select>
</mapper> 